@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

button {
  cursor: pointer;
}

.featuresGradient {
  background: linear-gradient(120deg, #050c14 0%, #4a90e2 100%);
}

.airplane-cursor {
  cursor: url("/cursors/AirplaneCursor.png") 15 15, pointer;
}
